// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// 通用样式
body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
}

// 全局样式
.container {
	width: 100%;
}

.navbar-default {
	.navbar-main {
		margin-left: 20px;
		li a.active {
			color: #3097D1;
			font-weight: bold;
		}
	}
}

.navbar-userinfo {
	margin-right: -5px;

	.notifications-badge {
		margin-top: -2px;
	}

	.badge-fade {
		background: #b2b2b2;
	}
	.badge-hint {
		background: red;
	}
}

.spaces-list {
	.thumbnail {
		img {
			width: 100%;
			max-height: 150px;
		}
	}
}

